:root {
    --Violet: hsl(257, 40%, 49%);
    --Button: hsl(256, 55%, 72%);
    --Soft_Magenta: hsl(300, 69%, 71%);
    --White: #fff;

    /* Headers  400 - 600 */
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
.info_page_button {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(2rem, 3vw, 3rem);
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--White);
    background: var(--Violet);
    background-image: url(./Images/bg-mobile.svg);
    background-repeat: no-repeat;

    min-height: 100vh;
}

/* MOBILE AND TABLETS */

header {
    display: flex;
    align-items: center;
    gap: .1rem;
    margin: 2rem;
}

.global {
    display: grid;
    place-items: center;
    margin: 3rem 2rem 0;
}

.ilustration img {
    width: 100%;
}

.info_page_cont {
    display: grid;
    gap: 1rem;
    text-align: center;
    margin: 1rem 0 0 0;
    font-size: clamp(1.5rem, 2vw, 1rem);
}

.info_page_cont p {
    opacity: .8;
}

.info_page_button {
    color: var(--Button);
    background: var(--White);
    box-shadow: 0px 1px 18px -5px rgba(0, 0, 0, 0.75);
    margin: auto;
    font-size: 1rem;
    border: none;
    padding: .8rem 4.7rem;
    border-radius: 1.5rem;
}

.info_page_button:hover {
    color: var(--White);
    background: var(--Soft_Magenta);
    cursor: pointer;
}

.social_media_icon_flex {
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    margin: 2rem 0;
}

.social_media_icon_flex i {
    border: 1px solid var(--White);
    border-radius: 50%;
    padding: .55rem;
}

.social_media_icon_flex .fa-facebook-f {
    height: 2.2rem;
    width: 2.1rem;
}

.social_media_icon_flex i:hover {
    color: var(--Soft_Magenta);
    cursor: pointer;
    border-color: var(--Soft_Magenta);
}

footer {
    text-align: center;
    font-size: .7rem;
}

footer a {
    color:
        rgb(153, 151, 151);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* DEKTOPS */

@media screen and (min-width: 1050px) {

    body {
        background-image: url(./Images/bg-desktop.svg);
        background-size: cover;
    }

    header {
        margin-bottom: 4rem;
    }

    header svg {
        width: 55px;
        height: 55px;
    }

    .global {
        grid-template-columns: 1fr 1fr;
        place-items: center;
        column-gap: 3rem;
    }

    .ilustration {
        display: grid;
        justify-self: end;
    }

    .info_page_cont {
        text-align: start;
        justify-self: start;
        gap: 1.5rem;
        margin-top: 3rem;
        max-width: 30rem;
    }

    .info_page_cont h2 {
        font-size: 2.5rem;
    }

    .info_page_cont h2 {
        font-size: min(2.4vmax, 2.5rem);
    }

    .info_page_cont p {
        font-size: min(1.2vmax, 1.05rem);
    }

    .info_page_button {
        font-size: 1.1rem;
        padding: .75rem;
        margin: 0;
        max-width: 39%;
    }

    .social_media_icon_flex {
        justify-self: center;
        grid-column: 2 / 3;
        gap: 1rem;
    }

    footer {
        font-size: .8rem;
        margin-top: 7rem;
    }
}